[submodule "lib/container"]
	path = lib/container
	url = https://gitee.com/dongli85/fortran-container
[submodule "lib/flogger"]
	path = lib/flogger
	url = https://gitee.com/dongli85/flogger
[submodule "lib/string"]
	path = lib/string
	url = https://gitee.com/dongli85/fortran-string
[submodule "lib/unit-test"]
	path = lib/unit-test
	url = https://gitee.com/dongli85/fortran-unit-test
